section {
    width: 100%;
    background-color: #f1f2eb;
    margin: 0%;
}
section > h2 {
    font-family: 'Special Elite', serif;
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 15px 0 10px 0;
    margin: 0;
}
section > p {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0 5%;
    padding-bottom: 15px;

}
section > button {
    width: 20%;
    margin: 2% 40%;
    border: 2px solid black;
    background-color: #E5E7DA;
    border-radius: 25px;

}
section button > a {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
    text-decoration: none;
}
section button:hover {
    background-color: #D3D7C1;
}
section button > a:hover {
    color: black;
    text-decoration: underline;
    background-color: #D3D7C1;
}